body {   
    padding: 0;
    margin: 0;
    transition: 0.7s;
    /* height: 100%; */
}

.wrapper {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 60% 40%;
    grid-template-areas: 
    "control search"
    "info map"
    "day map"
    "day map"
    "three-day geo";
    /* background-color: rgba(255, 255, 255, 0.37); */
    background: linear-gradient(to top, #000005b0 0%, #05000c8f 36%, #000000b0 100%);
    border-radius: 25px;
    min-width: 960px;
    max-width: 80%;
    margin: 2% auto;
    height: 90vh;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.322), 0 10px 10px rgba(0,0,0,0.22);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    font-size: 1.3rem;
    color: rgba(241, 230, 220, 0.89);
    text-shadow: 0px 0px 6px rgba(243, 194, 130, 0.7);
    letter-spacing: 1px; 
    box-sizing: border-box;

}

.control {
    grid-area: control;
    display: flex;
    align-content: stretch;
    justify-items: center; 
}

.temperature-buttons,
.reload {
    margin: 0 20px;
}

.temperature-buttons:hover {
    opacity: 0.7;
}

.temperature-buttons,
.reload,
.language {
    width: 70px;
    height: 40px;
    border-radius: 30px;
    background-color: rgba(3, 0, 12, 0.877);
    color: rgba(255, 247, 247, 0.747);
    font-size: 18px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 6px rgba(172, 166, 158, 0.7);
}

.language, .temperature-buttons {
    padding: 10px;  
    border-radius: 5px;
} 

.language[option] {
    border-radius: 20px;
}

.info {
    grid-area: info;
    text-align: center;
    letter-spacing: 1.2px;
    font-size: 1.2em;
    margin-bottom: 20px;
}


.weather-on-day {
    display: flex;
    align-items: center;
    padding-left: 15%;
    margin-bottom: 40px;
}

.weather-on-day div {
    padding: 0 20px;
}

.temperature {
    font-size: 8em;
    font-weight: bold;
}

.weather-on-day {
    grid-area: day;
    margin-top: 30px;
}


/* .weather-description {
       
} */

.three-day-weather {
    grid-area: three-day;
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
    padding-bottom: 20px;
    margin: 70px auto 0 auto;
}

.small_icon {
    width: 40%;
    padding-left: 10px;
    vertical-align: middle;
}

.search-location {
    grid-area: search;
}


.search {
    position: relative;
    box-sizing: border-box;
    float: right;
    margin-right: 90px;
    width: 272px; 
    height: 20px;
}

.search-icon {
    position: absolute;
    left: 3px;
    top: 3px;
    width: 35px;
    height: 35px;
    background: url('./data/search.png') no-repeat center;
    background-size: 100%;
    border: none;
    outline: none;
    opacity: 1;
}

.search-input {
    position: absolute;
    height: 20px;
    width: 190px;
    padding: 10px 40px 10px 50px;
    background-color: rgba(244, 241, 255, 0.438);
    border: 1px solid rgba(66, 62, 62, 0.664);
    border-radius: 8px;
    font-size: 18px;
    outline: none;
    -webkit-appearance: none; 
    box-shadow: 6px 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    letter-spacing: 2px;
    font-weight: 600;
}

.search-microphone {
    position: absolute;
    top: 7px;
    right: 0;
    width: 25px;
    height: 25px;
    background: url('./data/microphone.png') no-repeat center;
    background-size: 100%;
    opacity: 0.8;
    border: none;
    outline: none;
}
.search-microphone:active,
.search-microphone:hover {
    opacity: 1;
}


.map {
    grid-area: map;
}

.geo {
    grid-area: geo;
    margin-top: 15px;
    text-align: center; 
}

#map {
    width: 90%;
    height: 100%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 5px;
}

@media screen and (max-width: 640px) {
    .wrapper {
        margin: 0;
        max-width: 640px;
        height: 100%;
        font-size: 2rem;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(9, 1fr);
        grid-template-areas: 
        "control control"
        "info info"
        "day day"
        "day day"
        "three-day three-day"
        "search ."
        "map map" 
        "map map"  
        /* "map map" */
        "geo geo";
    }
    /* .control {
        max-width: 640px;
    } */
    #map {
        margin: 0 auto;
        width: 80%;
    }
    .temperature-buttons,
    .reload,
    .language {
        width: 100px;
        height: 80px;
        font-size: 2rem;
    }
    .search {
        
        top: 100px;
    }
}